---
layout: default
title: Projects
---
  <div class="four columns sidebar">
    {% include sidebar.html %}
  </div>
<div class="eleven columns content">
<div id="home">
  <h2><i class="fa fa-bookmark"></i> About Me</h2>
  <div style="text-align:justify">
    <p>
      I am an Electrical Engineer passionate not only towards machines but also toward Food and Travel.
      I recieved my B.Tech in Electrical Engineering from <strong>Indian Institute of Technology, Kharagpur</strong> in 2017.
      Born in SriVijaynagar, a small town in remote desert area of Rajasthan, India, I understood the importance of cheap and readily available medical services early-on in my life.
      <!-- I have always been eager to understand how things work. --> 
      I gravitated towards the field of <strong>Biomedical Instrumentation</strong> and <strong>Signal Processing</strong> during my Bachelor's and completed several projects on Developement of <strong>Non-Invasive Health Monitoring</strong> Systems.
      I'm perticularly interested in working towards the Developement of <strong>Point-of-Care Devices</strong>.
    </p> 
  </div>
  
  <div style="text-allign:left">
    <p>
      <a href="https://drive.google.com/file/d/1HPFouOQWLmQ52sk8w5M3XNiC3ZnGsBzJ/view?usp=sharing"> My Resume </a>
    </p>
  </div>
  
<!--
  <div style="text-allign:left">
    <p>
      <a href="https://github.com/chughvinit/chughvinit.github.io/blob/master/_me/2018-10-18-Publications.md">My Publications </a>
    </p>
  </div>
-->  

  <h2><i class="fa fa-bookmark"></i> Publications</h2>
  <ul id="publications" class="posts">
    
      <li><span> &raquo;</span><a href="https://drive.google.com/file/d/1HPFouOQWLmQ52sk8w5M3XNiC3ZnGsBzJ/view?usp=sharing">Publication 1</a></li>
  </ul>
  <h2><i class="fa fa-bookmark"></i> Projects</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span> &raquo;</span><a href="">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
</div>
