---
layout: default
title: Projects
---
  <div class="four columns sidebar">
    {% include sidebar.html %}
  </div>
<div class="eleven columns content">
<div id="home">
  <h2><i class="fa fa-bookmark"></i> About Me</h2>
  <div style="text-align:left">
    <p>
      I am an Electrical Engineer passionate not only towards machines but also toward Food and Travel.
      I was born in SriVijaynagar in Rajasthan, India. I have been always eager to understand how things work.
      Being born in a small town situated in remote desert part of Rajasthan, I understood the importance of cheap and readily available medical services early-on in my life.
    </p>
  </div>
  
  <div style="text-allign:left">
    <p>
      <a href="https://drive.google.com/file/d/1HPFouOQWLmQ52sk8w5M3XNiC3ZnGsBzJ/view?usp=sharing"> My Resume </a>
    </p>
  </div>
  
  <div style="text-allign:left">
    <p>
      <a href=""> My Publications </a>
    </p>
  </div>
  
  <h2><i class="fa fa-bookmark"></i> Projects</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span> &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
</div>
