---
layout: default
---
<div class="four columns sidebar hideSidebar">
    {% include sidebar.html %}
</div>
<div class="eleven columns content">
<p class="meta">
<!--
  {{ page.date | date: "%B %d, %Y" }}
-->
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post" style="text-align:justify">
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts %}
    <li>
      <span> &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
</div>
